.vs
jdoe/bin
jdoe/obj
.env
cacert.publickeyserver.org.pem
*.log
*.pem
publickeyserver/bin
publickeyserver/obj
suredrop/bin
suredrop/obj
suredrop.zip
suredrop/output
*.surepack
leaves.jpg
suredrop/test
surepack/bin
surepack/obj
surepack/output
surepack/test
surepack/publish
