.vs
jdoe/bin
jdoe/obj
.env
cacert.publickeyserver.org.pem
*.log
*.pem
publickeyserver/bin
publickeyserver/obj
jdoe.Tests/bin
jdoe.Tests/obj
deadrop/bin
deadrop/obj
deadrop.zip
deadrop/output
*.deadpack
leaves.jpg
